@import '../../../@theme/index';

.button_wrapper {
  @include isFlex($align: center, $justify: space-between);
  margin-top: 20px;
}

.heading {
  margin-bottom: 50px;
  font-family: $fontMain;
  font-weight: 700;
  font-size: $h3;
  color: $lightColor;
  text-align: center;

  @media #{$md} {
    font-size: $h3Tablet;
  }

  @media #{$lg} {
    font-size: $subtitleBig;
  }
}

.image {
  @media #{$md} {
    width: 300px;
  }

  @media #{$lg} {
    width: 100%;
  }
}