@import '../../../@theme/index';

.checklist {
  padding-left: 0;
  margin-top: 15px;
  font-family: $fontSecondary;
}

.item {
  margin-bottom: 10px;
  list-style-type: none;

  @media #{$lg} {
    margin-bottom: 15px;
  }
}
