
    $primary: #a16eff;
    $success: #00d68f;
    $info: #0095ff;
    $warning: #ffaa00;
    $danger: #ff3d71;


    $fontMain: sans-serif;
    $fontSecondary: Calibri, sans-serif;
    
    $bgCard: #c4c4c4;
    $borderRadiusCard: 16px;

    $bgHeadAndFoot: #5F5D76;
    $dangerLight: #ff708d;

    $priceText: #151a30;
    $hover: #1F1D36;
    $formBg: #5F5D76;

    $text1: #fff;
    $mainPageText: #5F5D76;
    $testIntroText: #565987;
    $bg: #323259;
    $bgMain: #fff;
    $adventureBg: #E3E8F4;
    $adventureBgActive: #8795B6;
    $fg: #b4b4db;

    // Buttons:
    $btnWhiteBg: #fff;
    $bgDarkButton: #5F5D76;
    $btnWhiteText: #5F5D76;
    $btnWhiteHoverBg: #c4c4c4;

    $borderComment: #5F5D76;
    
    
    $bg1: #252547;
    $bg2: #1b1b38;
    $bg4: #13132b;  

    $border: #323259;
    $border2: #252547;
    $border3: #1b1b38;
    $border4: #13132b;
    $border5: #13132b;
    
    
    $mainText: #000;
    $fgHeading: #ffffff;
    $fgText: #ffffff;
    $layoutBg: #151a30;
    $separator: #151a30;

  
    $primaryLight: #b18aff;
    $successLight: #2ce69b;
    $infoLight: #42aaff;
    $warningLight: #ffc94d;
    $dangerLight: #ff708d;