@import '../../../@theme/index';

section {
  background-color: $bgMain;
}

.mainHeading {
  font-family: $fontMain;
  font-weight: 700;
  font-size: $h1main;
  color: $lightColor;
  text-transform: uppercase;
}

.intro {
  font-family: $fontSecondary;
  font-size: $fontIntro;
  color: $lightColor;
  font-weight: 300;
}

.hero {
  height: calc(100vh - 90px);
}
