@import '../../@theme/index';

.rings {
    &__question {
        margin: 10px 0;
        text-align: center;
        @media #{$md} {
            margin: 40px 0 40px 50px;
        }
    }

    &__button-wrapper {
        text-align: center;
        
        @media #{$lg} {
            text-align: left;
        }
    }
}