@import '../../@theme/index';

.empty-bar {
    height: 20px;
    width: 290px;
    position: relative;
    background: rgba(196, 196, 196, 0.5);

    @media #{$md} {
        width: 330px;
    }

    @media #{$lg} {
        width: 400px;
    }
}

.full-bar {
    top: 0;
    left: 0;
    position: absolute;
    height: 20px;
    background: #3F3D56;
}
