@import '../../../@theme/index';

.test {
    &__question {
        color: $mainPageText;
        margin-bottom: 10px;
        font-size: $h4;
        text-align: center;
        height: 58px;

        @media #{$sm} {
            height: inherit;
        }

        @media #{$md} {
            margin-bottom: 40px;
            font-size: $h4Tablet;
        }

        @media #{$md} {
            font-size: $h4Desk;
        }
    }

    &__checklist {
        height: 190px;

        @media #{$sm} {
            height: 230px;
        }

        @media #{$lg} {
            height: 310px;
        }
    }

    &__image {

        @media #{$md} {
            width: 330px;
        }

        @media #{$lg} {
            width: 400px;
        }
    }
}

