@import '../../../@theme/index';

.ask {
  user-select: none;
  font-family: $fontMain;
  color: $lightColor;
  font-weight: 700;
  font-size: $h3;
  margin: 80px 0 40px;
}

.options {
  margin-bottom: 80px;
}

.picture {
  min-height: 200px;
  width: auto;
}
