@import '../../../@theme/index';

.slider {
  @include isFlex;

  &__arrow {
    width: 10%;
    @include isFlex;
  }

  &__slides {
    width: 80%;
    @include isFlex($justify: space-between, $wrap: nowrap);
    overflow: hidden;
  }

  &__slide {
    display: none;
    @media #{$sm} {
      width: 48%;
    }

    @media #{$md} {
      width: 30%;
    }
  }

  &__circle {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 1px solid #c4c4c4;
    margin-right: 10px;
    cursor: pointer;
    padding: 3px;

    &:hover {
      border: 1px solid #565987;
      .slider__inside-circle {
        background: #565987;
      }
    }
  }

  &__inside-circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #c4c4c4;
  }

  &__circles {
    display: flex;
    margin-top: 20px;
  }
}

.circle__active {
  border: 1px solid #565987;
  transition-property: border;
  transition-duration: 1s;
}

.inside-circle__active {
  background: #565987;
}

.slide {
  &__active,
  &__prev,
  &__next {
    display: block;
  }

  &__first {
    order: 1;
  }

  &__second {
    order: 2;
  }

  &__third {
    order: 3;
  }
}
