@import '../../../@theme/index';

.single_page_blog {
  color: #ffffff;
  margin: 10% auto;
  padding: 0 2%;

  &_breadcrumbs {
    font-family: $notosans;
    font-weight: 700;
    color: $bgDarkButton;
    font-size: $fontLarge;
    text-decoration: none;
  }

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    font-family: $notosans;
    font-weight: 700;
    margin-top: 6.5%;
    &__title {
      font-size: $h2Tablet;
    }
  }
  &_content {
    font-family: $sourcecodepro;
    font-size: $font;
    line-height: 20px;
    margin-top: 1.5%;
    font-weight: 400;
    ul {
      list-style-type: square;
    }
  }
  &__button {
    margin-left: 50px;
    width: 10%;
    text-align: center;
    padding: 10px 15px;
    font-weight: bold;
    background: $bgDarkButton;
    border: none;
    border-radius: 5px;
    font-family: $notosans;
  }
  &_textarea {
    margin: 2% auto;
    width: 100%;
    height: 40vh;
    line-height: 1.4;
    font-size: $fontLarger;
    padding: 10px;
  }
  &_input-title {
    width: 70%;
    padding: 20px;
    font-size: $fontLarger;
    font-weight: 700;
  }
}
