@import '../../../@theme/index';

.add-post-page {
  width: 90%;
  margin: auto;
  font-family: $notosans;

  &__title {
    color: $fgHeading;
  }
  &____form {
    color: $bgDarkButton;
  }
  input,
  textarea {
    margin: 10px auto;
    max-width: 100%;
    min-width: 100%;
    padding: 10px;
  }
  &__post-success {
    position: absolute;
    background: rgba(0, 0, 0, 0.61);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    opacity: 1;
    transition: 3.5s ease-out;
  }
  &__post-success > div {
    position: absolute;
    color: #ffffff;
    font-size: 40px;
    background: #2ce69b;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
  }
  &__post-success > div > div {
    width: 100%;
    text-align: center;
  }
  &__post-success.hidden {
    opacity: 0;
  }
}
